CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

CONFIG_EXAMPLE_SUPPORT_HTTP=y
CONFIG_EXAMPLE_CTRL_POP="abcd1234"
CONFIG_EXAMPLE_CTRL_SEC2_USERNAME="wifiprov"
CONFIG_EXAMPLE_CTRL_SEC2_PASSWORD="abcd1234"

CONFIG_ESP_WIFI_ENABLED=y
CONFIG_ESP_WIFI_IRAM_OPT=n
CONFIG_ESP_WIFI_RX_IRAM_OPT=n
CONFIG_FREERTOS_PLACE_FUNCTIONS_INTO_FLASH=y

CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_ROLE_CENTRAL=y
CONFIG_BT_NIMBLE_ROLE_OBSERVER=y
CONFIG_BT_NIMBLE_ATT_PREFERRED_MTU=512
CONFIG_EXAMPLE_SUPPORT_BLE=y
